<form id="abouts-form">
    <input type="hidden" for="id" name="AboutForm[id]" value="<%= data?data.id:'' %>"/>
    <input type="hidden" for="id" name="AboutForm[userId]" value="<%= data?data.userId:viewer.id %>"/>
    <div class="folder-content" style="width:800px;">
        <div style="overflow:hidden; width:810px;">  
            <div style="margin-right:10px;"> 
                <ul>
                    <li>
                        <label>Hình ảnh: </label>                                
                        <input type="file" name="AboutForm[image]" style="width: 200px;"/>                                                   
                    </li>
                    <li>
                        <label>Tiêu đề :</label>
                        <input name="AboutForm[name]" type="text" value="<%= data?data.name:'' %>" style="width: 200px;">
                    </li>
                    <li>
                        <label>Tiêu đề(Eng) :</label>
                        <input name="AboutForm[engName]" type="text" value="<%= data?data.engName:'' %>" style="width: 200px;">
                    </li>
                    <li>
                        <label>Trạng thái:</label>
                        <label><input name="AboutForm[published]" value="1"  <%= data?(data.published==1?'checked="checked"':''):'' %> type="checkbox" /> Hiển thị</label>
                    </li>
                    <li>
                        <label>Tóm tắt:</label>                
                        <textarea name="AboutForm[description]" style="width:500px; height:100px;"><%= data?data.description:'' %></textarea>
                    </li> 
                    <li>
                        <label>Tóm tắt (Eng) :</label>
                        <textarea name="AboutForm[engDescription]" style="width:500px; height:100px;"><%= data?data.engDescription:'' %></textarea>
                    </li>
                    <li>
                        <label>Nội dung :</label>
                        <textarea id="txt-content" name="AboutForm[content]" style="width:300px; height:100px;"><%= data?data.content:'' %></textarea>
                    </li> 
                    <li>
                        <label>Nội dung (Eng):</label>                
                        <textarea id="txt-content2" name="AboutForm[engContent]" style="width:370px; height:100px;"><%= data?data.engContent:'' %></textarea>
                    </li> 
                    <li>
                        <label>Ảnh nền :</label>
                        <textarea name="AboutForm[images]" style="width:500px; height:100px;"><%= data?data.images:'' %></textarea>
                    </li>
                    <li>
                        <label>Keywords :</label>
                        <textarea name="AboutForm[video]" style="width:500px; height:100px;"><%= data?data.video:'' %></textarea>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>